/*---------------------------------------------------------------------------top-container---------------------------------------------------------------------------*/
body{
    background-color:rgb(218, 216, 216);
}
.top-container{
    background-color:rgb(84, 153, 129);
    position:fixed;
    height:70px;
    top:0px;
    width:2000px;
    left:0px;
    box-shadow: 0px 0px 3px 0px rgb(109, 109, 109);
    overflow: hidden;
    transition-property:height;
    transition-duration:0.7s;
    transition-timing-function:ease;
    z-index:9;
}
.top-container-btn{
    position:absolute;
    height:40px;
    width:40px;
    top:250px;
    background-color:rgb(107, 107, 107);
    text-align:center;
    border:none; 
    margin-left:190px;
    border-radius:15px 0px 0px 0px;
    box-shadow: 0px 0px 3px 0px rgb(139, 139, 139);
    transition-property:background-color , transform;
    transition-duration:0.7s;
    transition-timing-function:ease;
    z-index:20;
}
.top-container-btn:hover{
    background-color:rgba(172, 172, 172, 0.938);
    transform:scale(1.05);
}
.Pastors-mid-con , .Scribes-mid-con , .Audio-mid-con{
    position:fixed;
    background-color:rgb(158, 158, 158);
    width:147px;
    text-align:center;
    top:63px;
    border-radius:5px;
    margin-left:664px;
    z-index:7;
    overflow:hidden;
    box-shadow:0px 0px 4px 0px rgb(75, 75, 75);
    height:0px;
    transition-property:height;
    transition-duration:0.5s;
    transition-timing-function:ease;
}
.Pastors-mid-con-href-2{
    position:absolute;
    width:300px;
    margin-top:212px;
}
.Pastors-mid-con hr{
    position:absolute;
    display:inline;
    margin-top:210px;
    width:400px;
    z-index:100;
    margin-left:-200px;
}

.Pastors-mid-con-href-1{
   position:absolute;
   width:300px;
}
.Pastors-mid-con-href-2 img{
    height:70px;
    width:70px;
    border-radius:100px;
    display: inline-block;
}
.Pastors-mid-con-href-1 img{
    width:70px;
    border-radius:100px;
    height:70px;
}
.Pastors-mid-con div:hover , .Scribes-mid-con div:hover , .Audio-mid-con div:hover{
    background-color:rgb(133, 133, 133);
    border-radius:3px;
    box-shadow:0px 0px 2px 0px rgb(75, 75, 75);
}
.Pastors-mid-con div , .Scribes-mid-con div , .Audio-mid-con div{
    width:147px;
    cursor:pointer;
    transition-property:background-color;
    transition-duration:0.7s;
    transition-timing-function:ease;
}
.Pastors-mid-con a{
  text-decoration:none;
  color:rgb(255, 255, 255);
  font-family:"montserrat" ,sans-serif;
}
.Scribes-mid-con{
    position:fixed;
    top:64px;
    width:147px;
    text-align:center;
    height:0px;
    border-radius:5px;
    background-color:rgb(158, 158, 158);
    box-shadow:0px 0px 4px 0px rgb(75, 75, 75);
    margin-left:756px;
    overflow:hidden;
    z-index:5;
}
.Scribes-mid-con h4{
   padding-top:10px;
   color:white;
   font-family:"montserrat" ,sans-serif;
   font-size:14px;
}
.Scribes-mid-con a{
    text-decoration:none;
}
.Scribes-mid-con div{
    margin-top:-9px;
    height:35px;
    border-radius:4px;
}
.notification-box-btn{
    position:absolute;
    margin-top:15px;
    margin-left:1290px;
    cursor: pointer;
    background-color:rgb(146, 146, 146);
    width:45px;
    height:45px;
    border-radius:9px;
    box-shadow:0px 0px 2px 0px rgb(88, 88, 88);
    border:none;
    transition-property:background-color ;
    transition-duration:0.7s;
    transition-timing-function:ease;
}
.notification-box-btn:hover{
  background-color:rgba(172, 172, 172, 0.938);
}
.notification-box-btn span{
    margin-left:2px;
    margin-top:10px;
}
.top-container h1{
    font-size:27px;
    font-weight:330;
    font-family:"Noto Serif Hebrew", serif;
    color:rgb(248, 233, 163);
    margin-left:20px;
    display: inline-block;
    cursor:default;
}
.top-container h5{
    color:white;
    padding-top:2.7px;
    font-size:14px;
    font-weight:550;
    font-family:"montserrat" ,sans-serif;
}
.top-container-2{
    position:absolute;
    background-color:rgb(114, 114, 114);
    display: block;
    width:900px;
    height:500px;
    font-family:sans-serif;
    font-size:15px;
    top:70px;
}
.top-container hr{
    display:none;
}

.top-container-2 a{
   text-decoration:none;
}
.top-container-2 div{
   position: absolute;
   height:40px;
   border-radius:3px;
   width:705px;
   margin-left:13px;
   padding-left:10px;
   padding-bottom:10px;
   color:white;
   font-weight:100px;
   transition-property:background-color;
   transition-duration:0.7s;
   transition-timing-function:ease;
   transition-delay:0.1s;
}
.top-container-2 div:hover{
    background-color:rgba(255, 255, 255, 0.171);
}
.top-container-2 h4{
    margin-bottom:10px;
    font-size:14px;
    
}
.pastors-container-2{
    bottom:399px;
}
.scribes-container-2{
    bottom:348px;
}
.books-container-2{
    bottom:297px;
}
.video-container-2{
    bottom:246px;
}
.audio-container-2{
    bottom:195px;
}
.pictures-container-2{
    bottom: 144px;
}
.supernatural-container-2{
    bottom:93px;
}
.home-container,.pastors-container,.scribes-container,.books-container,.video-container,.audio-container,.pictures-container,.supernatural-container{
    position:absolute;
    bottom:40px;
    width:90px;
    height:70px;
    bottom:0px;
    left:580px;
    text-align: center;
    transition-property:background-color;
    transition-duration:0.7s;
    transition-timing-function:ease;
    transition-delay:0.1s;
}
.pastors-container{
    margin-left:92px;
}
.scribes-container{
    margin-left:184px;
}
.books-container{
    margin-left:276px;
}
.video-container{
    margin-left:368px;
}
.audio-container{
   margin-left:460px;
}
.pictures-container{
    margin-left:552px;
}
.supernatural-container{
    margin-left:644px;
    width:170px;;
}
.home-container:hover,.pastors-container:hover,.scribes-container:hover,.books-container:hover,.video-container:hover,.audio-container:hover,.pictures-container:hover,.supernatural-container:hover{
    background-color:rgb(121, 121, 121);
}
/*----------------------------------------------------------------------------------------opcl-btn------------------------------------------------------------------------------*/
.opcl-btn{
    display:none;
    position:absolute;
    bottom: 0px;
    left:1500px;
    top:20px;
    height:24.5px;
}
.opcl-btn-line1,.opcl-btn-line2,.opcl-btn-line3{
    background-color:white;
    width:35px;
    height:3px;
    position:relative; 
    bottom:24.5px;
    transform:rotate(0deg)
}
.opcl-btn-line3{   
    transition-timing-function:ease;
    transition-duration:0.7s;
    transition-property:transform;
    position:relative;
    bottom:60px;
    transform:rotate(0deg)    
}
.opcl-btn-line2{
    position:relative;
    bottom:42px;
   
}
.notification-box{
    position:fixed;
    margin-top:58px;
    margin-left:1560px;
    background-color:rgb(84, 153, 129);
    color:white;
    width:230px;
    height:0px;
    border-radius:6px;
    box-shadow:0px 0px 7px 0px rgb(155, 155, 155);
    overflow:hidden;
    line-height:1.5;
    transition-property:height;
    transition-duration:0.5s;
    transition-timing-function:ease; 
    font-family:montserrat;
    font-weight:400;
}
.notification-box h3{
   text-align:center;
   color:rgb(248, 233, 163);
   text-decoration:underline;
   font-size:15px;
   font-weight:550;
}
.notification-box p{
    margin-left:5px;
    font-size:14.5px;
}
.notification-box a{
  color:rgb(248, 233, 163);
  text-decoration:none;
}
.notification-box a:hover{
  text-decoration:underline;
}
.mid-container{
    position:absolute;
    background-color:white;
    width:1050px;
    top:67px;
    left:435px;
    height:450px;
    border-radius:7px;
    overflow:hidden;
    box-shadow:0px 0px 5px 0px black;
}
.mid-container img{
    width:1050px;
    height:450px;
    border-radius:5px;
}
.mid-div-1{
    position:absolute;
    background-color:rgba(0, 0, 0, 0.397);
    width:100px;
    height:700px;
    text-align:center;
    left:-100px;
}
.mid-div-2{
    position:absolute;
    background-color:rgba(0, 0, 0, 0.397);
    width:100px;
    height:700px;
    text-align:center;
    margin-left:1100px;
}
.mid-div-1 , .mid-div-2{
    transition-property:margin-left , left ;
    transition-duration:0.5s;
    transition-timing-function:ease;
    cursor:pointer;
}
.mid-div-1 i , .mid-div-2 i{
       margin-top:170px;
}
.mid-container-2{
    position:absolute;
    background-color:white;
    margin-top:510px;
    top:12px;
    left:435px;
    width:1050px;
    height:440px;
    border-radius:7px;
    color:rgb(53, 53, 53);
    box-shadow:0px 0px 5px 0px rgb(155, 155, 155);
}
.mid-container-2 span{
    margin-top:5px;
    font-size:100px;
    float:left;
    font-family:"Noto Serif Hebrew", serif;
    margin-bottom:0px;
    display: inline;
    color:rgb(63, 134, 63);
}
.mid-container-2 {
   font-family: montserrat;
}
.mid-container-2 p{
    font-size:19px;
    line-height:1.5;
    margin-bottom:0px;
}
.p2{
    margin-top:0px;
}
.mid-container-2 b{
    font-weight:510;
    color:black;
}
.mid-container-2 div{
    margin-top:23px;
    width:1015px;
    margin-left:6.5px;
    padding-left:20px;
    height:330px;
    padding-top:5px;
    border:1px;
    border-style:solid;
    border-radius:2px;
    border-color:rgb(199, 199, 199);
}
.mid-container-2 hr{
    border-color:rgb(206, 206, 206);
    border-style:solid;
    width:1000px;
    margin-top: -14px;
}
.mid-container-2 h3{
   margin-left:30px;
   color:rgb(63, 134, 63);
   font-family: cursive;
   font-size:18px;
   font-weight:100;
}
.mid-con-pic-info-1 ,.mid-con-pic-info-2 , .mid-con-pic-info-3 {
    position:absolute;
    background-image:url("https://www.bftchurch.org/images/Scrollbg.png");
    height:790px;
    width:300px;
    display:inline-block;
    margin-left:20px;
    border-radius:20px;
    box-shadow:3px 3px 4px 0px rgb(155, 155, 155);
    text-align:center;
    padding-top:15px;
    font-family:  cursive;
    overflow:hidden;
    color:rgb(63, 134, 63);
    transition-property:transform , box-shadow;
    transition-duration:0.7s;
    transition-timing-function:ease;
}
.mid-con-pic-info-1:hover , .mid-con-pic-info-2:hover , .mid-con-pic-info-3:hover{
  transform:scale(1.02);
}
.mid-con-pic-info-1 img, .mid-con-pic-info-2 img , .mid-con-pic-info-3 img{
    height:130px;
    width:130px;
    margin-top:30px;
}
.mid-con-pic-info-1 h3, .mid-con-pic-info-2 h3 , .mid-con-pic-info-3 h3{
    font-size:17px;
    color:rgb(70, 70, 70);
}
.mid-con-pic-info-2{
   margin-left:360px;
}
.mid-con-pic-info-3{
    margin-left:700px;
}
.mid-con-pic-info-1 hr , .mid-con-pic-info-3 hr{
   width:290px;
   margin-left:15px;
   border-color:rgb(199, 197, 197);
   border-style:solid;
}
.mid-con-pic-div{
    position:absolute;
    margin-top:980px;
    width:1050px;
    left:435px;
    overflow:hidden;
    height: 900px;   
    cursor:pointer;
}
.mid-con-pic-div p{
    text-align:left;
    color:rgb(105, 104, 104);
    margin-left:20px;
    word-spacing:5px;
    font-family:montserrat;
    line-height:25px;
    font-style:italic;
}
.mid-container-3{
    position:absolute;
    background-color:black;
    top:1870px;
    width:1050px;
    overflow: hidden;
    left:435px;
    border-radius:7px;
    box-shadow:0px 0px 5px 0px rgb(155, 155, 155);
    height:440px;
}
.mid-container-3 video{
    width:750px;
    height:440px;
    display: inline;
    background-color:white;
}
.mid-con-vid-operator{
    position: absolute;
    background-color:rgb(82, 82, 82);
    width:300px;
    margin-left:750px;
    height:440px;
    overflow-y:scroll;
    top:0px;
    border-style:solid 1px ;
    border-color:black;
    scrollbar-color:grey rgb(82, 82, 82);
}
.mid-con-vid-operator-item{
  width:260px;
  height:70px;
  border-radius:5px;
  margin-left:2px;
  color:white;
  padding-left:20px;
  font-family:montserrat;
  font-size:13px;
  transition-property:background-color;
  transition-duration:0.6s;
  transition-timing-function:ease-in-out;
  cursor:pointer;
}
.mid-con-vid-operator-item:hover{
    background-color:rgb(53, 158, 121);
}

.mid-con-vid-operator h3{
    font-weight:500;
    padding-top:10px;
}
.bottom-container{
    position:absolute;
    background-color:rgb(84, 153, 129);
    top:2400px;
    width:1910px;
    right:0px;
    height:400px;  
}
.bottom-con-btn{
    transition-property:margin-left;
    transition-duration:0.5s;
    transition-timing-function:ease;
}
.bottom-info-con-operator{
   position:absolute;
   color:rgb(248, 248, 248);
   width:315px;
   top:44px;
   left:755px;
   height:55px;
   border-radius:7px 7px 0px 0px;
   border:solid 1px rgb(255, 255, 255);
   font-family:montserrat;
   font-size:13px;
   cursor:pointer;
}
.bottom-info-con-operator div{
  transition-property:background-color;
  transition-duration:0.6s;
  transition-timing-function:ease-in-out;
  margin-top:3px;
  position:absolute;
  height:50px;
  width:100px;
  border-radius:6px;
  text-align:center;
}
.bottom-info-con-operator div:hover{
    background-color: rgba(189, 189, 189, 0.39);
}
.bottom-info-con-operator h4{
   margin-top:17px; 
   font-weight:500;
}
.bottom-info-con-operator button{
  margin-top:3px;
  position:absolute;
  background-color:rgb(145, 145, 145);
  height:50px;
  width:100px;
  border-radius:6px;
  border:none;
  margin-left:2.4px;
}
.bottom-info-con{
    position:absolute;
    height:205px;
    width:550px;
    top:100px;
    left:655px;
    border:solid 1px rgb(255, 255, 255);
    border-radius:10px; 
    font-family:montserrat;
    color:white;
    cursor:default;
}
.bottom-info-con button{
    position:absolute;
    height:40px;
    text-align:center;
    border-radius:6px;
    border:rgb(196, 10, 10) solid 1px;
    background-color:rgb(204, 71, 71);
    width:120px;
    left:10px;
    font-family:montserrat;
    color:white;
    transition-property:transform ;
    transition-duration:0.7s;
    transition-timing-function:ease;
    cursor:pointer;
}
.bottom-info-con button:hover{
    transform:scale(1.05); 
}
.bottom-info-con p{
    margin-left:10px;
    padding-top:25px;  
}
.bottom-info-con button h4{
    margin-top:11px;
    font-size:13px;
    font-weight:500;
}
